#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#CanvaSN1{
    border: 10px solid Olive !important;
    background-color: #ffffff;      
}

img.img1
{
    width: 500px;
    height: 500px;  

}